<div class="container container-fluid full-width bg">
  <div class="row full-width mrlr">
    <div class="col-xs-4 col-xs-offset-2 sign-ins form-border">
      <h2 class="sign-in-header">Log in</h2>
      <form action="/session" method="post" role="form">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="form-group no-margin">
          <label for="email"></label>
          <input type="text"
                 name="user[email]"
                 id="email"
                 class="form-control"
                 placeholder="Email">
        </div>

        <div class="form-group no-margin">
          <label for="password"></label>
          <input type="password"
                 name="user[password]"
                 id="password"
                 class="form-control"
                 placeholder="Password">
        </div>

        <input type="submit" value="Log in" class="btn btn-success mrtb">
      </form>
    </div>
  </div>
</div>
