<% if (!project.currentUserIsABacker() || !(project.escape('founder_id') === currentUserId)) {%>
  <button class="btn btn-success btn-large fund">
    <i class="icon-white"></i>Back This Brand
    <small>
      <span>$1</span>
      minimum pledge
    </small>
  </button>
<% } %>
