<form id="funding-form" form="role">
  <div class="form-group">
    <span class="currency">$</span>
    <input type="number" name="fund" class="form-control">
  </div>

  <input type="submit" name="Fund Brand">
</form>
