<% if (project.currentUserIsABacker()) { %>
  <form id="new-comment-form" form="role">
    <div class="form-group">
      <label for="body">Leave a comment</label><br>
      <textarea name="comment[body]" id="body" class="form-control"></textarea>
    </div>

    <input type="submit" value="Post Comment" class="btn btn-primary">
  </form>
<% } else { %>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>Only backers can post comments</p>
      </div>
    </div>
  </div>
<% }%>
