<form id="new-comment-form" form="role">
  <div class="form-group">
    <label for="body">Leave a comment</label><br>
    <textarea name="comment[body]" id="body" class="form-control"></textarea>
  </div>

  <input type="submit" value="Post Comment" class="btn btn-primary">
</form>

<!-- backer_id & project_id can be added on the rails side? -->
