<div class="row">
  <div class="col-md-2">
      <img class="profile-photo" src="profile_photo_url">
  </div>
  <div class="col-md-10">
    <p class="founder-update-body">
      Update #<%= update.escape("id")%>
      <span class="updatetime grey-dark">updated some time ago</span>
    </p>
    <p>update.escape("body")</p>
  </div>
</div>
