<img src="<%=project.escape('medium_url')%>" id="project-show-photo">
<div class="follow">

</div>
<div class="project-pitch">
  <p class="projection-description"><%= project.escape("description")%></p>
</div>
