<img src="<%=project.escape('big_url')%>" style="width:640px; height:480px">
<div class="follow">

</div>
<div class="project-pitch">
  <h3 class="project-home-title">Brand Story</h3>
  <p class="project-story"><%= project.escape("description")%></p>
</div>
