<div class="row">
  <div class="col-md-2">
    <a href="#/profile/backer_id">
      <img class="profile-photo" src="<%=comment.escape('profile_pic')%>">
    </a>
  </div>
  <div class="col-md-10">
    <p class="backer-name">
      <%= comment.escape("author")%>
      <span class="commenttime grey-dark">some time ago</span>
    </p>
    <p><%= comment.escape("body") %></p>
  </div>
</div>
