<div class="row">
  <div class="col-md-2">
      <img class="profile-photo" src="<%=comment.escape('profile_pic')%>">
  </div>
  <div class="col-md-10">
    <p class="backer-name">
      <%= comment.escape("author") %>
      <span class="commenttime grey-dark"><%= moment(comment.escape("created_at")).format('lll') %></span>
    </p>
    <p><%= comment.escape("body") %></p>
  </div>
</div>
