<div class="container container-fluid full-width bg">
  <div class="row full-width mrlr">
    <div class="col-xs-4 col-xs-offset-2 sign-ins form-border">
      <h2 class="sign-in-header">Sign up</h2>
      <form action="/users" method="post" form="role">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group no-margin">
          <label for="name"></label>
          <input type="text"
                 name="user[name]"
                 id="name"
                 class="form-control",
                 placeholder="Name">
        </div>
        <div class="form-group no-margin">
          <label for="email"></label>
          <input type="text"
                 name="user[email]"
                 id="email"
                 class="form-control",
                 placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password"></label>
          <input type="password"
                 name="user[password]"
                 id="password"
                 class="form-control",
                 placeholder="Password">
        </div>

          <input type="submit" value="Sign up" class="btn btn-primary mrtb">
      </form>
    </div>
  </div>
</div>
