/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";
 @import "font-awesome";

.navbar-default {
  background-color: white;
  height: 60px;
}
div.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.grey-dark {
  color: #828587;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.mr1 {
  margin-right: 10px;
}
.project-stats {
  line-height: 1.25em;
}
.no-margin {
  margin: 0;
}
.no-wrap {
  whitespace: nowrap;
}
.list {
  list-style: none;
  padding-left: 0;
}
.p2 {
  padding: 20px;
}
.col {
  box-sizing: border-top;
  padding-right: 10px;
  padding-left: 10px;
}
a.image {
  padding-top: 23px;
}
.py2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.px1 {
  padding-right: 10px;
  padding-left: 10px;
}
.bold {
  font-weight: bold;
}
.h5 {
  font-size: 14px;
  line-height: 20px;
}
.navbar {
  margin-bottom: 0;
}
.staff-picks-index {
  width: 100%;
  padding: 20px;
}
.staff-picks-nav {
  list-style: none;
  border-left: 1px solid #828587;
}
