/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";
 @import "font-awesome";

#main.container {
  float: none;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #d9d9de;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-default {
  background-color: white;
  height: 60px;
  border: none;
}
div.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.grey-dark {
  color: #828587;
}
.full-width {
  width: 100%;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.mr1 {
  margin-right: 10px;
}
ul.project-stats {
  line-height: 1.25em;
  font-size: 12px;
  text-align: left;
  padding-left: 0px;
}
.no-margin {
  margin: 0;
}
.no-wrap {
  whitespace: nowrap;
}
.list {
  list-style: none;
  padding-left: 0;
}
.p2 {
  padding: 20px;
}
.col {
  box-sizing: border-top;
  padding-right: 10px;
  padding-left: 10px;
}
a.image {
  padding-top: 23px;
}
.py2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.px1 {
  padding-right: 10px;
  padding-left: 10px;
}
.bold {
  font-weight: bold;
}
.h5 {
  font-size: 14px;
  line-height: 20px;
}
.navbar {
  margin-bottom: 0;
}
.staff-picks-index {
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;
  padding-left: 16%;
}
.staff-picks-nav {
  list-style: none;
  border-left: 1px solid #d9d9de;
  // font-size: 100%;
  height: 245px;;
}
ul.staff-picks-nav {
  vertical-align: middle;
  float: none;
  padding-top: 20%;
}
ul.staff-picks-nav a:active {
  border-left: 1px solid #828587;
}
.body {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  font: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.center {
  text-align: center;
}
.project-show-info {
  height: 100%;
}
.project-card {
  min-height: 217px;
  width: 220px;
  margin-left: 10px;
  margin-right: 10px;
}
div.thumbnail {
  height: 500px;
  width: 220px;
  padding: 10px;
}
.project-title {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}
.project-description {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}
.founder-name {
  font-size: 12px;
  margin-top: 0px
}
.progress {
  height: 10px;
  vertical-align: baseline;
  margin-bottom: 0px;
}
.profile-button {
  margin: 0px;
}
.profile-dropdown {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-left: 1px solid #d9d9de;
}
.profile-button {
  padding: 0px;
  border: none;
}
.pl {
  padding-right: 10px;
}
.project-views {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #d9d9de;
}
.sign-ins {
  margin-top: 25px;
  width: 25%;
  background-color: white;
}
.mrtb {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sign-in-header {
  font-weight: normal;
}
.bg {
  background-color: #f7fafa;
  padding-left: 0;
  padding-right: 0;
  border-top: 1px solid #d9d9de;
}
.mrlr {
  margin-right: 0;
  margin-left: 0;
}
.form-border {
  border: 1px solid #d9d9de;
  border-radius: 4px;
}
.banner-view {
  background-image: url('https://s3-us-west-2.amazonaws.com/miscrand/kobanner.jpg');
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
}
.homepage-view {
  padding-left: 0px;
  padding-right: 0px;
}
.proj-cont {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.banner-text {
  color: white;
  font-size: 30px;
  opacity: 0.75;
  position: absolute;
  right: 20px;
}
.proj-parent {
  border-top: 1px solid #d9d9de;
  padding-top: 40px;
}
.staff-picked-img {
  height: 240px;
  width: 320px;
}
div.photo {
  margin-right: 40px;
  width: 320px;
  height: 240px;

}
