<form id="new-project" form="role">

  <div class="form-group">
    <label for="photo"></label>
    <input type="file" name="project[project_photo]" id="photo"
           class="form-control image-input">
  </div>

  <div class="form-group">
    <label for="title"></label>
    <input type="text" name="project[title]" id="title"
           class="form-control" placeholder="Project Name">
  </div>

  <div class="form-group">
    <label for="description"></label>
    <textarea name="project[description]" id="description"
          class="form-control" placeholder="Description"></textarea>
  </div>

  <div class="form-group">
    <label for="funding-goal"></label>
    <input type="text" name="project[funding_goal]" id="funding-goal"
          class="form-control" placeholder="Funding Goal">
  </div>

  <div class="form-group">
    <label for="category"></label>
    <select name="project[category]" id="category"
          class="form-control">
      <option value="casual">Casual</option>
      <option value="basketball">Basketball</option>
      <option value="skateboarding">Skateboarding</option>
      <option value="baseball">Baseball</option>
      <option value="football">Football</option>
    </select>
  </div>

  <div class="form-group">
    <label for="duration"></label>
    <input type="text" name="project[duration]" id="duration"
          class="form-control" placeholder="Duration">
  </div>

  <input type="submit" value="Create" class="btn btn-primary">
</form>
