<div class="row new-project-inputs">
  <h3 class="new-project-header">Kickoff Your Brand!</h3>
  <div class="col-md-3 pull-right proj-preview">
    <img id="project-photo" src="https://s3-us-west-2.amazonaws.com/miscrand/placeholder.jpg">
  </div>

  <div class="col-md-5 new-proj-form-inputs">
    <div class="row">
    <form id="new-project" form="role">
        <div class="form-group">
          <label for="photo">Upload Photo</label>
          <input type="file" name="project[project_file_path]" id="photo"
                 class="form-control image-input">
           <input
             type="hidden"
             name="project[project_photo]"
             id="put-photo-here">
        </div>

        <div class="form-group">
          <label for="title">Brand Name</label>
          <input type="text" name="project[title]" id="title"
                 class="form-control" placeholder="Shoe Brand">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="project[description]" id="description"
                class="form-control" placeholder="Pitch your brand!"></textarea>
        </div>


        <div class="form-group">
          <label for="funding-goal">Funding Goal</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" name="project[funding_goal]" id="funding-goal"
                class="form-control" placeholder="1">
        </div>
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          <select name="project[category]" id="category"
                class="form-control">
            <option value="casual">Casual</option>
            <option value="fashion">Fashion
            <option value="football">Fashion</option>
            <option value="basketball">Basketball</option>
            <option value="skateboarding">Skateboarding</option>
            <option value="baseball">Baseball</option>
            <option value="football">Football</option>
          </select>
        </div>

        <div class="form-group">
          <label for="duration">Duration</label>
          <input type="text" name="project[duration]" id="duration"
                class="form-control" placeholder="days">
        </div>

          <input type="submit" value="Create" class="btn btn-primary">
      </div>
    </div>
    </form>
</div>
