<ul class="nav nav-tabs" role="tablist">
  <li class="active">
    <a href="" id="home">Home</a>
  </li>
  <li class="active"><a href="" id="updates">Updates</a></li>
  <li class="active"><a href="" id="backers">Backers</a></li>
  <li class="active"><a href="" id="comments">Comments</a></li>
</ul>

<div class="container-fluid project-show">

</div>
